<header>
    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-body border-bottom shadow-sm">
        <p class="h5 my-0 mr-auto">
            <a href="/" class=""><span class="fs-4">Dars jadvali</span></a>
        </p>
        <nav class="my-2 my-md-0 me-md-3">
            <span class="dropdown">
                <a href="#" class="p-2 text-dark">Darslar</a>
                <ul class="drop-menu pl-3">
                    <li><a href="/lessons/create" class="p-2 text-dark">Dars qo&#8216;shish</a></li>
                    <li><a href="/lessons" class="p-2 text-dark">Darslar ro&#8216;yxati</a></li>
                </ul>
            </span>
            <span class="dropdown">
                <a href="#" class="p-2 text-dark">Fanlar</a>
                <ul class="drop-menu pl-3">
                    <li><a href="/subjects/create" class="p-2 text-dark">Fan qo&#8216;shish</a></li>
                    <li><a href="/subjects" class="p-2 text-dark">Fanlar majmui</a></li>
                </ul>
            </span>
            <span class="dropdown">
                <a href="#" class="p-2 text-dark">O&#8216;qituvchilar</a>
                <ul class="drop-menu pl-3">
                    <li><a href="/teachers/create" class="p-2 text-dark">O&#8216;qituvchi qo&#8216;shish</a></li>
                    <li><a href="/teachers" class="p-2 text-dark">O&#8216;qituvchilar ro&#8216;yxati</a></li>
                </ul>
            </span>
            <a class="p-2 text-dark" href="/about-us">Yaratuvchi haqida</a>
        </nav>
    </div>
</header>