{% extends 'layout.html' %}
{% block title %}O&#8216;qituvchi haqida{% endblock %}
{% block body %}
    <div class="container w-50">
        <h1>{{ teacher.teacher }}</h1>
        <div class="alert alert-info">
            <form id="form_a" action="{{ url_for('teacher_update_delete', idx=teacher.id) }}" method="post">
                <div class="form-group">
                    <label for="name"><b>O&#8216;qituvchi familiyasi va ismi</b></label>
                    <input type="text" name="name" id="name" value="{{ teacher.name }}"
                           class="form-control" autocomplete="off" required>
                </div>
                <input type="hidden" name="_method" value="PUT">
                <button type="submit" class="btn btn-primary">Yangilash</button>
                <button type="button" onclick="form_a.reset()" class="btn btn-light">Qaytarish</button>
            </form>
        </div>
    </div>
{% endblock %}