{% extends 'layout.html' %}
{% block title %}O&#8216;qituvchi{% endblock %}
{% block body %}
    <div class="mx-5">
        <h3 class="card-title">O&#8216;qituvchi ro&#8216;yxati</h3>
        <div class="card">
            <div class="card-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th>O&#8216;qituvchi</th>
                            <th>O&#8216;qituvchi F.I.</th>
                            <th width="250px"><span>Ko&#8216;proq</span></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for teacher in teachers %}
                            <tr>
                                <td>{{ teacher.id }}</td>
                                <td>{{ teacher.name }}</td>
                                <td>
                                    <a href="{{ url_for('teacher_detail', idx=teacher.id) }}" class="btn btn-info">
                                        <span>Ko&#8216;rish</span>
                                    </a>
                                    <form action="{{ url_for('teacher_update_delete', idx=teacher.id) }}" method="POST"
                                          onsubmit="return onSubmit(this)" class="d-inline-block">
                                        <input type="hidden" name="_method" value="DELETE">
                                        <button type="submit" class="btn btn-danger">
                                            <span>O&#8216;chirish</span>
                                        </button>
                                    </form>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    {% block scripts %}
        <!--suppress JSUnresolvedVariable -->
        <script>
            function onSubmit(form) {
                alertify.confirm('Ma\u2019lumotni o\u{2018}chirish', 'Buni o\u{2018}chirib tashlamoqchimisiz?', () => {
                    form.submit()
                }, undefined)
                    .set('labels', {ok: 'Ha', cancel: 'Bekor'});
                return false;
            }
        </script>
    {% endblock %}
{% endblock %}