{% extends 'layout.html' %}
{% block title %}Fanlar{% endblock %}
{% block body %}
    <div class="mx-5">
        <h3 class="card-title">Fanlar ro&#8216;yxati</h3>
        <div class="card">
            <div class="card-body">
                <table class="table">
                    <thead>
                    <tr>
                        <th>Fan</th>
                        <th>Fan nomi</th>
                        <th>Dars shakli</th>
                        <th><span>Ko&#8216;proq</span></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for sub in subjects %}
                        <tr>
                            <td>{{ sub.id }}</td>
                            <td>{{ sub.name }}</td>
                            <td>{{ sub.form }}</td>
                            <td>
                                <a href="/subjects/{{ sub.id }}/detail" class="btn btn-info"><span>Ko&#8216;rish</span></a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}