{% extends 'layout.html' %}
{% block title %}Dars haqida{% endblock %}
{% block body %}
    <div class="container w-50">
        <h1>{{ lesson.subject }}</h1>
        <div class="alert alert-danger">
            <p></p>
            <form action="/lessons/{{ lesson.id }}/delete" method="post">
                <a href="/lessons" class="btn btn-primary">Yangilash</a>
                <button type="submit" class="btn btn-danger float-right">O&#8216;chirish</button>
            </form>
        </div>
    </div>
{% endblock %}