{%extends 'layout.html'%}
{%block title%}O&#8216;qituvchi qo&#8216;shish{%endblock%}
{%block body%}
    <div class="container">
        <div class="w-75 mx-auto">
            <h2>O&#8216;qituvchi qo&#8216;shish</h2><br>
            <form method="post">
                <div class="form-group">
                    <label for="teacher">O&#8216;qituvchi familiyasi va ismi</label>
                    <input type="text" name="teacher" id="teacher" class="form-control">
                </div>
                <div class="div">
                    <button type="submit" class="btn btn-info">Saqlash</button>
                    <button type="reset" class="btn btn-light float-right">Tozlash</button>
                </div>
            </form>
        </div>
    </div>
{%endblock%}